@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .member-form-section {
    @apply relative border-2 border-blue-500;
  }
  .member-form-input {
    @apply block px-2.5 pb-1.5 pt-1.5 w-full text-sm text-gray-900 bg-transparent rounded-lg border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600;
  }
  .member-form-label {
    @apply absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1;
  }
  .member-form-textarea {
    @apply min-h-[80px] block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .member-form-textarea-label {
    @apply block mb-2 mt-2 text-sm font-medium text-gray-900 dark:text-white;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

html,
#root,
#root > div {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertisement {
  width: 15%;
}

.journals {
  width: 70%;
}

.membership {
  width: 15%;
  padding-left: 20px;
  padding-right: 20px;
}

.member-login {
  height: 200px;
}

.alumni-group {
  height: calc(100% - 200px);
  min-height: 200px;
}

.title {
  font-family: "Roboto", sans-serif; /* Using Roboto font from Google Fonts */
  font-weight: 700; /* Using the bold (700) weight */
  font-size: 32px; /* This is equivalent to 40px. Adjust as necessary */
  color: #333333; /* Dark gray color. Adjust to your liking */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
  text-transform: uppercase; /* Makes the text all uppercase */
  letter-spacing: 1.5px; /* Increases spacing between letters */
  margin: 12px 0; /* Adds some margin to top and bottom */
  line-height: 1.2; /* Adjusts the spacing between lines, useful if your title wraps to multiple lines */
  text-align: center; /* Center text */
}

/* For responsiveness, you might want to adjust the font size on smaller screens */
@media (max-width: 768px) {
  .header-title {
    font-size: 28px; /* Reduced font size for smaller screens */
  }
}
.subtitle {
  font-family: "Roboto", sans-serif; /* Using Roboto font from Google Fonts */
  font-weight: 400; /* Normal font weight, so it's lighter than the main title */
  font-size: 22px; /* Adjust based on your subtitle size preference */
  color: #555555; /* Slightly lighter gray than the main title for visual hierarchy */
  text-transform: capitalize; /* First letter of each word is capitalized */
  letter-spacing: 1px; /* Slight letter spacing */
  margin: 10px 0; /* Adds some margin to top and bottom */
  line-height: 1; /* Adjusts the spacing between lines, useful if your subtitle wraps to multiple lines */
  opacity: 0.9; /* Slight transparency to make it more subtle */
  text-align: center; /* Center text */
}

/* For responsiveness, you might want to adjust the font size on smaller screens */
@media (max-width: 768px) {
  .subtitle {
    font-size: 20px; /* Reduced font size for smaller screens */
  }
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.register-form {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

.register-form label input {
  min-width: 240px;
}

.service-section {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

.service-section h1 {
  font-size: 24px;
  text-align: center;
}

.service-section h2 {
  font-size: 20px;
}

.service-section p {
  margin: 0;
}

.about-us {
  width: 15%;
}

.journal {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
